.confirmSection{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 24px;
}

.formActions {
  display: flex;
  justify-content: center;
}
