.notFoundSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0px 24px;
  height: 100%;
}

.notFoundImg {
  width: 100%;
}

.notFoundImg {
  width: 100%;
}

.formActions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
